body {
  overflow: hidden;
  margin: 0;
}

input {
  background: #EEEEEE;
  border: unset;
  color: black;
  font-family: "monospace", "Courier New";
  font-size: 10pt;
  padding-left: 0.5ex;
  width: 100%;
}

img {
  height: 1em;
  width: 1em;
}

#completions {
  background: white;
  color: black;
  display: inline-block;
  font-size: 10pt;
  height: auto;
  font-family: "monospace", "Courier New";
  overflow-x: hidden;
  overflow-y: visible;
  white-space: pre;
  width: 100%;
  z-index: 9998;
  border-top: 1px solid lightgray;
}

#completions .highlighted {
  background: lightgray;
}

.url, a.url, a.url:link, a.url:visited {
  background: white;
  display: inline;
  left: 50%;
  overflow: hidden;
  padding: 0 2px;
  position: absolute;
  text-decoration: none !important;
  z-index: 9999;
}

/* Hide the URLs if the screen is small */
@media all and (max-width: 980px) {
    .url, a.url, a.url:link, a.url:visited {
        display: none;
    }
}

a.url:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
